.stripPdp {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 375px;
    height: 46px;
    margin: auto;
    line-height: 46px;
    text-align: center;
}

.offer {
    font-weight: 700;
    padding-right: 16px;
}

.codeMobile {
    padding-left: 2px;
}