.nav {
    height: 80px;
    display: flex;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        line-height: 80px;
    }

    a {
        text-decoration: none;
        width: 300px;
        display: block;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        color: #000;
    }
}

.navbar-container{
    position: relative;
}
.areaIndicator{
    height: 8px;
    background-color: #DEDEDE;
}

.indicator{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px; 
    width: 50%; 
    background-color: #2196F3; 
    transition: left 0.3s ease; 
}