@import '../layout/resoultion.scss';

.nav {
    height: 80px;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        line-height: 80px;
    }

    a {
        text-decoration: none;
        display: block;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        color: #000;

    }
}

.navbar-container {
    position: relative;
}

.areaIndicator {
    height: 8px;
    background-color: #DEDEDE;
}