header {
    padding-bottom: 26px;
}

.container {
    display: flex;
    justify-content: center;
}

.sideBar {
    width: 601px;
    background-color: #fff;
    top: 0;
    height: 100vh;
    min-height: 100%;
    position: sticky;
}

.PreviewSide {
    margin: auto;
    max-width: 1024px;
}

blockquote {
    background-color: #fff;
    width: 1024px;
    margin: auto;
    position: relative;
}

.copyIcon {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    background: #DBE1E5;
    text-align: center;
    position: absolute;
    right:26px;
    top: 22px;
    display: flex;
    cursor: pointer;
    svg{
        margin: auto;
    }
}
.previewBanner{
    width: 100%;
    height: 256px;
}
.imagePreview{
    width: 100%;
    object-fit: contain;
    height: 256px;
}