@import './resoultion.scss';

.content {
    width: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide {
    display: none;
}

.imagePreviewHalfMobile {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.imagePreviewFullimage {
    width: 100%;
    height: 360px;
    object-fit: cover;

}

.halfTxtMobile {
    text-align: center;
    padding: 20px 40px 32px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

// style of Mobile Banner{
.MobileStyle {
    position: relative;

    // Font Size 
    .h1 {
        font-size: 28px;
        line-height: 34px;
    }

    .h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .h4 {
        font-size: 18px;
        line-height: 22px;
    }

    .h5 {
        font-size: 16px;
        line-height: 20px;
    }

    .h6 {
        font-size: 15px;
    }

    .contentPostion {
        position: absolute;
        text-align: center;
        padding: 10px 40px 0px;
        right: 0;
        left: 0;
    }

    .topTxtPostion {
        top: 10px;
    }

    .bottomTxtPostion {
        bottom: 0;
        padding-bottom: 32px;
    }

    .button {
        min-width: 100px;
        height: 40px;
        border-radius: 40px;
        width: 100%;
        padding: 0px 17px;
        font-size: 16px;
        line-height: 40px;
        text-decoration: none;
        display: block;
        text-align: center;
        zoom: 1;
        overflow: hidden;
        font-weight: 700;
        max-width: max-content;
        margin: 5px auto;
    }

    // 
    .ctaArea {
        display: flex;
        justify-content: flex-start;
    }

    .temp2Cta {
        position: absolute;
        bottom: 32px;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0 40px;
    }

    .leftDisclimar {
        position: absolute;
        left: 10px;
        border-radius: 4px;
        bottom: 10px;
        font-size: 13px;
        font-weight: 400;

    }

    .rightDisclimar {
        position: absolute;
        right: 10px;
        bottom: 12px;
        font-size: 13px;
        font-weight: 400;
        bottom: 10px;
    }
}

.DesktopStyle {
    .contentPostion {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        zoom: 0.55;
        display: flex;
        flex-direction: column;

        @include desktop-medium() {
            zoom: 0.3;
        }

        @include tablet-large {
            zoom: 0.2;
        }
    }

    // postion Text
    .left {
        left: 10%;
    }

    .center {
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        align-items: center !important;
    }

    .right {
        right: 10%;
    }



    // Font size
    .h1 {
        font-size: clamp(64px, 4vw, 86px);
    }

    .h2 {
        font-size: clamp(54px, 3.5vw, 72px);
    }

    .h3 {
        font-size: clamp(44px, 2.9vw, 58px);
    }

    .h4 {
        font-size: clamp(32px, 2.1vw, 42px);
    }

    .h5 {
        font-size: clamp(28px, 1.9vw, 38px);
    }

    .h6 {
        font-size: clamp(20px, 1.3vw, 26px);
    }

    //Text postion
    .textcenter {
        text-align: center;
        align-items: center !important;

        .ctaArea {
            justify-content: center;
        }
    }

    .textright {
        text-align: right;
        align-items: end;

        .ctaArea {
            justify-content: flex-end;
        }

    }

    .button {
        min-width: 100px;
        border-radius: 40px;
        width: 100%;
        height: 48px;
        padding: 0px 20px;
        font-size: 18px;
        line-height: 48px;
        text-decoration: none;
        display: block;
        text-align: center;
        zoom: 1.5;
        overflow: hidden;
        font-weight: 700;
        max-width: max-content;
        margin: 0 6px 0 0;
    }

    .oneCta {
        margin: 0;
    }

    // 
    .ctaArea {
        display: flex;
        justify-content: flex-start;
    }

    .leftDisclimar {
        position: absolute;
        left: 16px;
        border-radius: 4px;
        bottom: 12px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        padding: 4px 8px;

    }

    .rightDisclimar {
        position: absolute;
        right: 16px;
        border-radius: 4px;
        bottom: 12px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        padding: 4px 8px;
    }
}

.textside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    zoom: 0.55;
    left: 10%;
    display: flex;
    flex-direction: column;

    @include desktop-medium() {
        zoom: 0.33;
    }

    @include tablet-large {
        zoom: 0.2;
    }
}


.darkTxt {
    color: #000;

    .themeColor {
        color: #000;
    }


}

.lightText {
    color: #fff;


}

.darkbutton {
    color: #ffffff;
    background-color: #000;
}

.lightbutton {
    color: #0f0f0f;
    background-color: #fff;
}

.striptext {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 18px;
    zoom: 1.4;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    .contentStrip {
        display: contents;
    }

    svg {
        width: 15px;
        margin-left: 8px;
        vertical-align: middle;
    }
}

.stripMobile {
    width: 375px;
    display: flex;
    text-decoration: none;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    line-height: 44px;
    margin: auto;
    background: #dddddd;
    color: #fff;
    text-align: center;
    justify-content: center;

    .contentM {
        display: content;
    }

    svg {
        width: 12px;
        margin-left: 6px;
    }
}

// .darkbutton {
//     color: #ffffff !important;
//     background-color: #000 !important;
// }

// .lightbutton {
//     color: #0f0f0f;
//     background-color: #fff;
// }