.hpEditor {
    padding-left: 32px;
}

.form-input {
    margin-bottom: 21px;
    display: flex;
    align-items: center;
}

.inputText {
    width: 281px;
    border-radius: 4px;
    border: 1px solid #E5E8E8;
    background: #FFF;
    height: 32px;
    padding-block: 0;
    padding-inline: 6px;
    outline: 0;
}

.labelTxt {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    padding-right: 10px;
}

.toggleType {
    display: flex;
    border-radius: 4px;
    border: 1px solid #F0F1F1;
    background: #F4FAFE;
    position: relative;
    width: 99px;
    height: 32px;
    justify-content: space-between;
    align-items: center;

    input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: block;
    }

    .areaOfType {
        width: 45px;
        text-align: center;
        z-index: 1;
        cursor: pointer;
    }

    .areaOfinput {
        width: 45px;
        display: inline-flex;
        height: 28px;
        justify-content: center;
        align-items: center;
    }

    .select {
        border-radius: 2px;
        border: 1px solid #F1F1F1;
        background: #FFF;
        position: absolute;
        width: 45.33px;
        height: 28px;
        left: 0px;
        transition: 0.1s;
    }

    .activeSelected {
        left: 51px;
    }
}

.LayoutTemplates {
    width: 534px;
    border-radius: 12px;
    border: 1px solid #DBE1E5;
    overflow: hidden;
    margin-top: 40px;

    .labelTxt {
        display: none;
    }

    .title {
        background: #F1F3F4;
        height: 45px;
        padding-left: 12px;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
    }

}

.layoutTemplateArea {
    display: flex;
    width: 474px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto 0;
    text-align: center;
    gap: 30px 0px;

    div[class*=areaTypeTemp-] {
        width: 138.095px;
        height: 92.063px;
        background-color: #F6F6F6;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #F6F6F6;
        border-radius: 4px;

        .areaTypeTemp-3 {
            background: linear-gradient(to left, #F6F6F6 50%, #DBE1E5 50%);
            justify-content: space-evenly;
        }
    }

    input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: block;
        display: none;
    }

    .mobileLayout {
        width: 140px;
        height: 140px;

    }

    .areaTypeTemp-5 {
        background: linear-gradient(to left, #F6F6F6 50%, #DBE1E5 50%);
    }

    .areaTypeTemp-4 {
        background: linear-gradient(to left, #DBE1E5 50%, #F6F6F6 50%);
    }

}

.NumberofTemplate {
    padding-top: 12px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
}

#templateM {
    align-items: start;
    gap: 0px;

    div[class*=areaTypeTemp-] {
        width: 140px;
        height: 140px;
    }

    .areaTypeTemp-3 {
        background: linear-gradient(to bottom, #F6F6F6 44%, #DBE1E5 44%);
    }

    .activeTemplate {
        div[class*="areaTypeTemp"] {
            border: 1px solid #2196F3;
            background: #F4FAFE;
        }

        svg,
        rect,
        path {
            fill: #2196F3;
            stroke: #2196F3;
        }

        .areaTypeTemp-3 {
            background: linear-gradient(to bottom, #F4FAFE 44%, #E7F4FE 44%) !important;
        }
    }
}

.width-2 {
    width: 93px;
}

.width-1 {
    width: 98px;
}

.layoutTemplateArea {
    .activeTemplate {
        div[class*="areaTypeTemp"] {
            border: 1px solid #2196F3;
            background: #F4FAFE;
        }

        svg,
        rect,
        path {
            fill: #2196F3;
            stroke: #2196F3;
        }

        .areaTypeTemp-4 {
            background: linear-gradient(to left, #E7F4FE 52%, #F4FAFE 52%) !important;
        }

        .areaTypeTemp-5 {
            background: linear-gradient(to left, #F4FAFE 52%, #E7F4FE 52%) !important;
        }
    }
}